.chat-box {
  height: 100%;
  width: 100%;
  background-color: #fff;
  overflow: hidden;
}

.chats {
  padding: 60px 30px 130px;
}

.chat-avatar {
  float: right;
}

.chat-avatar .avatar {
  width: 100px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.3);
}

.chat-body {
  display: block;
  margin: 50px 30px 0 0;
  overflow: hidden;
}

.chat-body:first-child {
  margin-top: 10px;
}

.chat-content {
  position: relative;
  display: block;
  float: right;
  padding: 8px 15px;
  margin: 0 20px 10px 0;
  clear: both;
  color: #fff;
  background-color: #F55E61;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
}

.Name-content {
  position: relative;
  display: block;
  float: right;
  padding: 9px 0px;
  margin: 0 20px 10px 0;
  clear: both;
  color: #F55E61;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #fff;
}

.Name-content > p:last-child {
  margin-bottom: 0;
}

.Name + .chat-content:before {
  border-color: transparent;
}

.chat-content:before {
  position: absolute;
  top: 10px;
  right: -10px;
  width: 0;
  height: 0;
  content: "";
  border: 5px solid transparent;
  border-left-color: #F55E61;
}

.chat-content > p:last-child {
  margin-bottom: 0;
}

.chat-content + .chat-content:before {
  border-color: transparent;
}


.chat-time {
  display: block;
  margin-top: 8px;
  color: rgba(255, 255, 255, 0.6);
}

.chat-left .chat-avatar {
  float: left;
}

.chat-left .chat-body {
  margin-right: 0;
  margin-left: 30px;
}

.chat-left .chat-content {
  float: left;
  margin: 0 0 10px 20px;
  color: #fff;
  background-color: #F55E61;
}

.chat-left .chat-content:before {
  right: auto;
  left: -10px;
  border-right-color: #F55E61;
  border-left-color: transparent;
}

.chat-left .chat-content + .chat-content:before {
  border-color: transparent;
}

.chat-left .Name-content {
  float: left;
  margin: 0 0 10px 20px;
  color: #F55E61;
  background-color: #fff;
}


.chat-left .chat-time {
  color: #a3afb7;
}

.panel-footer {
  padding: 20px 30px 20px;
  background-color: #F55E61;
  border-top: 1px solid transparent;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.avatar img {
  width: 100%;
  max-width: 100%;
  height: auto;
  border: 0 none;
}
.avatar {
  position: relative;
  display: inline-block;
  width: 40px;
  white-space: nowrap;
  vertical-align: bottom;
}
.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
