.Row {
  margin: 2%;
}
.info-modal .modal-content {
  border-radius: 1rem;
}

.btn-danger {
  background-color:#F55E61 ;
  border-color: #F55E61;
}
.bg-danger {
  background-color:#F55E61  !important;
}


